<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <h1 class="navbar navbar-expand-lg bg-primary text-white mb-3">TrackLite: Tracking app</h1>


<form method="POST" action="/customerDetails">
<p class="navbar navbar-expand-lg bg-primary text-white mb-2">Email and Password of Customer: <input type="text" name="Email Address">
    <input type="text" name="Password">
   <input type="submit" value="Go"></p>
</form>
</body>


</html>
