
<!DOCTYPE html>
<html>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet" id="font-awesome-css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<link rel="stylesheet" href="static/css/customerinfo.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>    
<script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
<link rel="stylesheet" href="static/css/index.css">

<script type="text/javascript">
    function buttonclick(e){
        var username_value = $("#username").val().trim();
        var password_value = $("#password").val().trim();
        var repassword_value = $("#repassword").val().trim();
        if(username_value == ""){
            alert("Username is invalid.");
            return;
        }
        if(password_value == ""){
            alert("password is invalid.");
            return;
        }
        if(password_value != repassword_value){
            alert("Retype - password is not same as password.");
            return;
        }  
        $.ajax({
                url: "/user_verification",
                type: 'POST',
                data: {
                    username: username_value,
                    password: password_value 
                },
                success: function (response) {
                    console.log("success signup!");
                    $("#back-btn")[0].click();
                },
                error: function (response) {
                    if(response.status = 409){
                        console.log("User Exists.");
                        console.log(response);
                        alert("The user with username already exists. Please type in a different username.");
                    }
                }
        });
    }
</script>    
   
<style>
    label{
        font-size: x-large;
    }
    input{
        font-size: large;
        position: absolute;
        left: 222px;
    }
    </style>
    
<body>
<a href = '/', class="order", id = "back-btn", style="top: 10px; left: 10px; position: absolute; width: 135px; font-size: large; background-color: #343a40!important; border-radius: 50px;"><span class="default">&#x25C1;&#x25C1; Sign Out</span></a>
<h3 style=" top: 175px; position: absolute; ">Please enter your credentials. Upon "Submit" you will be redirected to Home page to Login.</h3>
<div id="form div" style="position: absolute; top: 250px; left: 333px">
    <div id="user">
    <label for="username">Username: </label>
    <input type="text" id="username" name="username", style="text-overflow: ellipsis!important;">
    </div>
    <div id="pass">
    <label for="password">Password: </label>
    <input type="password" id="password" name="Password", style="text-overflow: ellipsis!important;">
    </div>
    <div id="repass">
    <label for="repassword">Re-type password: </label>
    <input type="password" id="repassword" name="Password", style="text-overflow: ellipsis!important;">
    </div>
    <button onclick ="buttonclick(this)" id="submit" class="order" style="font-size: x-large; position: absolute; left: 222px; color:white;">Submit</button>
</div>
</body>
</html>    