<!DOCTYPE html>
<html>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet" id="font-awesome-css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/trackstatus.css">
    <link rel="stylesheet" href="static/css/index.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>    
    <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
    <!--Theme-->
    <head>
        <link href="https://cdn.wijmo.com/themes/aristo/jquery-wijmo.css" rel="stylesheet" type="text/css" />

    <!--Wijmo Widgets CSS-->
        <link href="https://cdn.wijmo.com/jquery.wijmo-pro.all.3.20133.19.min.css" rel="stylesheet" type="text/css" />


        <style>
            .wijmo-wijgrid tr.wijmo-wijgrid-row td.ui-state-highlight {
                background: #c7daf2;
                border-color: transparent;
                color: black;
            }
            .wijmo-wijgrid tr.wijmo-wijgrid-row.ui-state-hover, .wijmo-wijgrid .wijmo-wijgrid-current-cell, .wijmo-wijgrid td.wijmo-wijgrid-rowheader.ui-state-active {
                background: #bec6d2;
                color: #000;
            }
        </style>
    <!--RequireJs-->
        <script type="text/javascript" src="https://cdn.wijmo.com/external/require.js"></script>
        <script type="text/javascript">
            requirejs.config({
                baseUrl: "https://cdn.wijmo.com/amd-js/",
                    paths: {
                        "jquery": "jquery-1.9.1.min",
                        "jquery-ui": "jquery-ui-1.10.1.custom.min",
                        "jquery.ui": "jquery-ui",
                        "jquery.mousewheel": "jquery.mousewheel.min",
                        "globalize": "globalize.min",
                        "bootstrap": "bootstrap.min", //Needed if you use Bootstrap.
                        "knockout": "knockout-2.2.0" //Needed if you use Knockout.
                    }
            });
            var user;
            var taskData;
            var testData = [
                       {'title': 'TASK 1', 'description': 'Task 1 desc', 'status':'Completed', 'duedate':'22-06-2023'},
                       {'title': 'TASK 2', 'description': 'Task 2 desc', 'status':'In-progress', 'duedate':'22-06-2023'},
                       {'title': 'TASK 3', 'description': 'Task 3 desc', 'status':'Started', 'duedate':'22-06-2023'},
                       {'title': 'TASK 4', 'description': 'Task 4 desc', 'status':'Completed', 'duedate':'22-06-2023'},
                       {'title': 'TASK 5', 'description': 'Task 5 desc', 'status':'Completed', 'duedate':'22-06-2023'}
                    ];
            function load(data){
                user = data['user']
                taskData = data['taskData']
            }            
        </script>

        <script id="scriptInit" type="text/javascript">

            function elementUpdate(val, tid, col){
                $.ajax({
                    url: "/edit_data",
                    type: 'POST',
                    data: {
                        tid: tid,
                        value: val,
                        column: col
                    },
                    success: function (response) {
                    },
                    error: function (response) {
                    }
                });
            }
            require(["wijmo.wijgrid"], function () {
            $(document).ready(function () {
                $("#wijgrid").wijgrid({
                    allowSorting: true,
                    allowEditing: true,
                    allowPaging: true,
                    pageSize: 4,
                    data: taskData,
                    columns: [
                        {headerText: "Id", dataKey:'tid', visible:false},
                        {headerText: "Title", dataKey:'title'},
                        {headerText: "Description", dataKey:'description', allowSort: false},
                        {headerText: "Status", dataKey: 'status',
                            cellFormatter: function (args) {
                                if (args.row.type & wijmo.grid.rowType.data) {
                                    console.log(args.$container);
                                    console.log(args.row.data);
                                    var sel = document.createElement("select")
                                    $(sel).append('<option value="Completed">Completed</option><option value="In-progress">In-progress</option><option value="Started">Started</option>')
                                    sel.value = args.row.data[args.column.dataKey];
                                    $(sel).attr('tid', args.row.data['tid']);
                                    $(sel).attr('col', args.column.dataKey);
                                    $(sel).on('change', function(e){
                                        elementUpdate($(e.target).val(), $(e.target).attr('tid'),  $(e.target).attr('col'));
                                    });
                                    args.$container.append(sel);
                                    return true;
                                }   
                             }

                        },
                        {headerText: "Due Date", dataKey: 'duedate',
                            cellFormatter: function (args) {
                                if (args.row.type & wijmo.grid.rowType.data) {
                                    var div = document.createElement("div");
                                    $(div).append('<input type="date" style="font-size:large;"></input>');
                                    $(div).find('input').val(args.row.data[args.column.dataKey]);
                                    $(div).find('input').attr('tid', args.row.data['tid']);
                                    $(div).find('input').attr('col', args.column.dataKey);
                                    $(div).find('input').on('change', function(e){
                                        elementUpdate($(e.target).val(), $(e.target).attr('tid'), $(e.target).attr('col'));
                                    });
                                    args.$container.append(div);
                                    return true;
                                }
                            }
                        },
                        {headerText: "Action", allowSort: false,  
                            cellFormatter: function (args) {
                                if (args.row.type & wijmo.grid.rowType.data) {
                                    var div = document.createElement("div");
                                    $(div).append('<button class="order", style = "color: white; width:75%;"><span class="default">Delete</span></button>');
                                    $(div).attr("rowData", JSON.stringify(args.row.data));
                                    $(div).find('button').on('click', function(e){
                                            var tid = JSON.parse($(e.target).parent().parent().attr('rowData'))['tid'];
                                            $.ajax({
                                                url: "/delete_data",
                                                type: 'POST',
                                                data: {
                                                    tid: tid
                                                },
                                                success: function (response) {
                                                    location.reload();
                                                },
                                                error: function (response) {
                                                    console.log("Error in Delete.");
                                                }
                                            });
                                        });
                                    args.$container.append(div);
                                    return true;
                                }   
                             }

                        },
                    ],
                    afterCellEdit : function (e, args) {
                        console.log("Cell data edit captured.");
                        var col = args.cell.column().dataKey;
                        var tid = args.cell.row().data['tid'];
                        var val = args.cell.value();
                        $.ajax({
                            url: "/edit_data",
                            type: 'POST',
                            data: {
                                tid: tid,
                                value: val,
                                column: col
                            },
                            success: function (response) {
                            },
                            error: function (response) {
                            }
                        });
                    },
                    currentCellChanged : function (e) {
                        console.log("currentCellChanged triggered.");
                    },
                });
            });
            });

            function create(e){
                if($("#title").val().trim() == ""){
                    alert("Please enter a valid Title.");
                    return true;
                }
                if($("#duedate").val().trim() == ""){
                    alert("Please enter a valid Due Date.");
                    return true;
                }
                var title = $("#title").val().trim();
                var desc = $("#description").val().trim();
                var status = $("#status").val().trim();
                var duedate = $("#duedate").val().trim();
                $.ajax({
                    url: "/create_data",
                    type: 'POST',
                    data: {
                        title: title,
                        description: desc,
                        status: status,
                        duedate: duedate,
                        username: user
                    },
                    success: function (response) {
                        location.reload();
                    },
                    error: function (response) {
                        console.log("Error in Creating task.");
                    }
                });
            }
        </script>
    </head>

    <body onload="load({{data}})">
        <a href = '/', class="order", id = "back-btn", style="top: 10px; left: 10px; position: absolute; width: 135px; font-size: large; background-color: #343a40!important; border-radius: 50px;"><span class="default">&#x25C1;&#x25C1; Sign Out</span></a>
        <div id="create-task-div" style="position:absolute; top:65px; left:-72px;">
            <div id="title-div" style="position:relative; top:20px; left:247px;">   
                <label for="title">Title:</label>  
                <input id="title" style="font-size:large;"></input>
            </div> 
            <div id="description-div"  style="position:relative; top:-15px; left:542px;">   
                <label for="description">Description:</label>
                <input id="description" style="font-size:large;"></input>
            </div>
            <div id="status-div"  style="position:relative; top:-7px; left:226px;">   
                <label for="status">Status:</label>
                <select id="status" name="status" style="font-size:x-large;">
                    <option value="In-progress">In-progress</option>
                    <option value="Started">Started</option>
                    <option value="Completed">Completed</option>
                </select>
            </div>
            <div id="duedate-div"  style="position:relative; top:-44px; left:572px;">   
                <label for="title">Duedate:</label>
                <input id="duedate" type="date" style="font-size:large;"></input>
        </div>
        <div style="top: 119px; position: absolute; left: 112px; width:300%;">
            <h4>You can add tasks by "Create Task" button, edit as mentioned below and delete by clicking "Delete button for each task."</h4>
            <h5>*The Grid below has inline editing feature. Please double click on text fields to edit. Press 'Enter' after editing text(Title, Description) to save the changes. For Status and Due Date fields just select your value to save the changes.</h5>
            <h5>*Click on columns to sort or click on arrow head at the corner for each column. Arrow head seen when you click on the column. Direction indicates the sort order</h5>
        </div>
        <div id="create-task-btn" style="position: absolute; top: 39px; left: 910px;">
            <button class="order", style = "color: white;", onclick="create(this)">
                <span class="default">Create Task</span>
            </button>
        </div> 
        </div>
        <div style="top: 255px; left:225px; position: absolute; width:63%">
            <table id="wijgrid"></table>
        </div>
    </body>
</html>    